.image-headercreatemmenu {
    position: absolute;
    width: 50px;
    left: 250px;
    top: -40px;
}

@media screen and (min-width: 769px) {

    .image-headercreatemmenu {
        left: 500px;
    }

}