.connection-container {
    width: 100vw;
    height: 100vh;
    background-color: var(--background);
}

.connection-form-input {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputemailconnection, .inputconnectionpassword {
    width: 85vw;
    height: 60px;
    border-radius: 50px;
    background-color: var(--white);
    border: 2px solid var(--dark-blue);
    padding-left: 20px;
    margin-bottom: 40px;
    color: var(--black);
}

::placeholder {
    font-size: 1rem;
    color: var(--grey);
    font-family: var(--font);
    font-style: italic;
    font-weight: 400;
  }

  .connection-separation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
  }
  .separation-trait1, .separation-trait2 {
    border: 1px solid var(--grey);
    width: 140px;
    height: 0px;
    border-radius: 5px;
  }

  .separation-text, .socialnetworks-text {
    font-family: var(--font);
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    padding: 1rem;
    color: var(--grey);
  }

  .connection-socialnetworks {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .svg-icons-gmail, .svg-icons-apple, .svg-icons-apple {
    font-size: 2rem;
    margin-left: 1rem;
    margin-top: 1rem;
  }

  .connection-texte {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
    padding: 1rem;
  }

  .connection-texte-question {
    font-family: var(--font);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    color: var(--grey);
  }

  .connection-texte-createaccount {
    font-family: var(--font);
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    color: var(--dark-blue);
    margin-left: 0.5rem;
    text-decoration: underline;
  }

  @media screen and (min-width: 769px) {

    .inputemailconnection, .inputconnectionpassword {
      width: 50vw;
      height: 80px;
  }

    .separation-trait1, .separation-trait2 {
      width: 310px;
    }

    .svg-icons-gmail, .svg-icons-apple, .svg-icons-apple {
      font-size: 3rem;
      margin-right: 10px;
    }

    .connection-texte {
      margin-top: 2rem;
    }
  }