@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root {
  --dark-orange: #F16D3E;
  --orange: #F28A07;
  --dark-blue: #0396A6;
  --blue: #ABEAF0;
  --turquoise: #79E4E4;
  --grey: #545454;
  --black: #231515;
  --white: #FFFFFF;
  --background: #F2E9E6;

  --font: "Inria", sans-serif;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font);
    text-decoration: none;
  }
  
  input {
    color: #ffffff;
  }

  h1 {
    font-size: 0.9rem;
  }

  h2, h3 {
    font-size: 0.9rem;
  }

  @media screen and (min-width: 769px) {
    h1 {
      font-size: 1.2rem;
    }
    h2 , h3{
      font-size: 1rem;
    }
  }